<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.onedull.mybatistest.mapper.DepartmentMapper">
	<insert id="save" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO department(name) VALUES(#{name});
	</insert>
	
	
	<resultMap type="cn.onedull.mybatistest.domain.Department" id="baseResultMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		
		<collection property="employee" column="id" select="cn.onedull.mybatistest.mapper.EmployeeMapper.queryByDepartment">
		</collection>
	
	</resultMap>
	
	<select id="get" resultMap="baseResultMap">
		SELECT id, name FROM department WHERE id= #{id};
	</select>

</mapper>